@use "../abstract/variables"   as v;
@use "../abstract/breakpoints" as b;


.lightbox {
  position        : fixed;
  inset           : 0;
  z-index         : 1000;

  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
 

  background-color: rgba(0, 0, 0, 0.9);
 

  opacity           : 0;
  visibility        : invisible;
  pointer-events    : none;

  transition: opacity 200ms ease,  visibility 200ms ease;
}

.lightbox__wrapper {
    display        : flex;
    flex-direction : column;
    align-items    : end;
}

.lightbox__image {

    width  : 20.4375rem ;
    height : 16.4375rem ;

    @media (min-width :b.$bp-md){
    width  : 41.875rem;
    height : 32.5rem;
    }

    @media (min-width :b.$bp-xl){
    width  : 57.3125rem;
    height : 44.5rem;
    }
}


.lightbox__close{
    padding-block-end : clamp(v.$spacing-300,5vw,v.$spacing-400);
    color             : v.$inverse-txt-clr;
    font-size         : v.$fs-14;
    font-weight       : v.$fw-bold;
    line-height       : 200%;
    letter-spacing    : -0.25px;
}


.lightbox.is-open {
  opacity         : 1;
  visibility      : visible;
  pointer-events  : auto;
}
